# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.venv/
env/
ENV/
*.egg
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# -----------------------------
# Config / secrets
# -----------------------------
config.json          # VMware vCenter credentials

# -----------------------------
# Terraform
# -----------------------------
*.tfstate
*.tfstate.backup
.terraform/
*.tfvars
terraform.tfplan
output/               # folder cu fișiere Terraform generate

# -----------------------------
# OS / editor
# -----------------------------
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/

# -----------------------------
# Testing / Coverage
# -----------------------------
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# -----------------------------
# Jupyter / IPython
# -----------------------------
.ipynb_checkpoints/
profile_default/
ipython_config.py

# -----------------------------
# Misc / other tools
# -----------------------------
*.log
pip-log.txt
pip-delete-this-directory.txt
